<div class="modal-header">
  <h3 class="modal-title">Start a build</h3>
</div>
<form ng-submit="submit()">
  <div class="modal-body">
    <div class="form-group">
      <label for="repositoryName">Repository Name</label>
      <input type="text" class="form-control" ng-model="repositoryName" id="repositoryName" placeholder="deployster">
    </div>
    <div class="form-group">
      <label for="cloneURL">Clone URL</label>
      <input type="text" class="form-control" ng-model="cloneURL" id="cloneURL" placeholder="https://github.com/bmorton/deployster">
    </div>
    <div class="form-group">
      <label for="commitID">Commit ID</label>
      <input type="text" class="form-control" ng-model="commitID" id="commitID" placeholder="9476e42289a027bc26732a599ffea2c3d8507829">
    </div>
    <div class="form-group">
      <label for="gitRef">Git Ref</label>
      <input type="text" class="form-control" ng-model="gitRef" id="gitRef" placeholder="refs/heads/master">
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="submit()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</form>