<div class="container">
  <h1>Builds</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-md-2">Repository</th>
        <th class="col-md-4">ID</th>
        <th class="col-md-5">Target</th>
        <th class="col-md-1">State</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="build in builds">
        <td>{{build.repository_name}}</td>
        <td><a ng-href="#/builds/{{build.id}}">{{build.id}}</a></td>
        <td>{{build.commit_id}}</td>
        <td><span class="label label-default">{{build.state}}</span></td>
      </tr>
    </tbody>
  </table>

</div>
