<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/builds">Docker Builder</a>
    </div>

    <ul class="nav navbar-nav">
      <li class="active"><a href="#/builds">Builds</a></li>
    </ul>

    <div class="navbar-right">
      <button type="button" class="btn btn-primary navbar-btn" ng-click="newBuild()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</nav>
